@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500&display=swap');

body, html{
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    background-color: #0d1117;
    color: white;
}

nav{
    display: flex;
    padding-top: 3vh;
    padding-inline: 5vw;
    justify-content: space-between;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: 20vw;
    // border: 1px solid white;
}

main > a{
    text-decoration: none;
    color: #0d1117;
    background-color: white;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    transition: transform .2s; 
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > a:hover{
    transform: scale(1.1);
}

#logo{
    font-family: 'Caveat', cursive;
    text-decoration: none;
    color: white;
}

h1{
    font-size: 2rem;
    font-style: italic;

}

p{
    font-size: 1.2rem;
}

nav > a{
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    transition: transform .2s; 
    cursor: pointer;
}

nav > a:hover{
    transform: scale(1.25);
}

#help{
    position: fixed;
    bottom: 10vh;
    right: 10vw; 
}

#help > i{
    font-size: 4rem;
    transition: transform .2s; 
    cursor: pointer;
}


#help:hover i{
    transform: scale(1.25);
}

#input{
    background-color: transparent;
    color: white;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    box-sizing: border-box;
    width: 30vw;
    height: 5vh;
    min-width: 240px;
    margin: 2%;
}

#checkbox{
    zoom: 200%;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    margin-bottom: 1vh;
}

select:focus, option:focus, input:focus{
    outline: none;
}

option{
    color: black;
}
